#monitor-map-canvas {
    height: calc(100vh - 2rem);
    border-radius: 20px;
}
#monitor-map-canvas .leaflet-map-pane {
    transition: initial;
}
#monitor-map-canvas .leaflet-popup-content {
    margin: 0px;
    width: 400px!important;
}
#monitor-map-canvas .leaflet-popup-content-wrapper {
    padding: 0px;
    overflow: hidden;
}
#monitor-map-canvas iframe {
    width: 100%;
    height: 300px
}
#leaflet-monitor-block {
    width:100%;
}
#leaflet-monitor-videos {
    overflow:auto;
    height: 250px;
    padding: 0.4rem 0.5rem;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #121417;
}
.leaflet-container a.btn {
    color: #fff;
}

.leaflet-marker-icon {
    transition: 0s;
}
