body,
html {
	overflow: hidden;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	border: 0
}

.stream-element,
.shinobi_stream {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.shinobi_stream video {
	object-fit: fill
}
