<main class="container page-tab pt-3" id="tab-accountSettings">
    <form class="dark" id="settings">
        <div class="card form-group-group p-3 bg-dark mb-3 shadow green">
            <h4><%- $user.mail %></h4>
            <div>
                <span class="badge badge-info"><%- lang['Group Key'] %> : <%- $user.ke %></span>
            </div>
        </div>
        <%
          const details = $user.details
          var drawBlock
          var buildOptions
        %>
        <%
          include fieldBuilders.ejs
        %>
        <% Object.keys(define['Account Settings'].blocks).forEach(function(blockKey){
              var accountSettings = define['Account Settings'].blocks[blockKey]
              drawBlock(accountSettings)
        }) %>
        <%
          include stickySubmitBar.ejs
        %>
    </form>
</main>
