<main class="container page-tab pt-3" id="tab-apiKeys">
    <div class="dark row" id="apis">
        <%
          var drawBlock
          var buildOptions
        %>
        <%
          include fieldBuilders.ejs
        %>
        <% Object.keys(define['API Keys'].blocks).forEach(function(blockKey){
              var accountSettings = define['API Keys'].blocks[blockKey]
              drawBlock(accountSettings)
          }) %>
    </div>
</main>
