<main class="container page-tab pt-3" id="tab-cameraProbe">
    <form class="dark row">
        <% Object.keys(define['Camera Probe'].blocks).forEach(function(blockKey) { -%>
          <%- include('drawBlock', {
                theBlock: define['Camera Probe'].blocks[blockKey]
              }) %>
        <%  }) -%>
    </form>
</main>
