<main class="page-tab pt-3 dark" id="tab-configFinder">
    <div class="row">
        <%  Object.keys(define['Montior Configuration Finder'].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
                theBlock: define['Montior Configuration Finder'].blocks[blockKey]
            }) %>
        <%  }) -%>
    </div>
    <% window.additionalJsScripts.push('assets/js/bs5.configFinder.js') %>
</main>
