<main class="container page-tab pt-3" id="tab-eventFilters">
    <form class="dark row">
        <%  Object.keys(define['Event Filters'].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
                theBlock: define['Event Filters'].blocks[blockKey]
            }) %>
        <%  }) -%>
          <div class="col-md-12">
          <%- include('stickySubmitBar'); %>
          </div>
    </form>
</main>
