<main class="page-tab pt-3" id="tab-eventListWithPics">
    <form class="dark row">
        <%  Object.keys(define['Events'].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
                theBlock: define['Events'].blocks[blockKey]
            }) %>
        <%  }) -%>
    </form>
</main>
<script src="<%-window.libURL%>assets/js/bs5.eventListWithPics.js"></script>
