<main class="page-tab" id="tab-initial">
    <div class="row">
        <% Object.keys(define['Home'].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
                theBlock: define['Home'].blocks[blockKey]
            }) %>
        <%  }) -%>
    </div>
</main>
