<main class="container page-tab pt-3" id="tab-logViewer">
    <form class="dark row">
        <%  Object.keys(define['Log Viewer'].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
                theBlock: define['Log Viewer'].blocks[blockKey]
            }) %>
        <%  }) -%>
    </form>
    <script src="<%-window.libURL%>assets/js/bs5.logViewer.js"></script>
</main>
