<nav id="topMenu" class="navbar navbar-expand-lg fixed-top navbar-dark d-sm-block d-md-none" aria-label="Main navigation" style="background:#182129">
<div class="container-fluid">
  <a class="navbar-brand">
      <img src="libs/img/icon/favicon-196x196.png" width="25" style="border-radius:50%">
  </a>
  <button class="navbar-toggler p-0 border-0" type="button"data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <form class="d-flex">
      <input class="form-control btn-dark me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary" type="button" id="search-all">Search</button>
    </form>
  </div>
</div>
</nav>
<style>
    @media (max-width: 766px) {
        body, #sidebarMenu {
          padding-top: 56px;
        }
    }
</style>
