<main class="page-tab pt-3" id="tab-onvifScanner">
    <form class="dark row">
        <%  Object.keys(define['ONVIF Scanner'].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
                theBlock: define['ONVIF Scanner'].blocks[blockKey]
            }) %>
        <%  }) -%>
    </form>
</main>
