<div style="margin-bottom: 50px;"></div>
<div class="sticky-bar p-3">
    <button type="submit" class="btn btn-sm btn-success" style="min-width: 150px"><i class="fa fa-check"></i> <%- lang.Save%></button>
</div>
