<link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.streamCarousel.css">
<div id="stream-carousel" class="my-3 bg-gradient-dark text-white rounded shadow-sm">
    <div class="stream-carousel-go d-flex flex-row">
        <div class="stream-carousel-go-arrow align-items-center d-flex p-2" stream-carousel-go="-1">
            <i class="fa fa-angle-double-left fa-5x"></i>
        </div>
        <div class="stream-carousel-go-center flex-grow-1">
        </div>
        <div class="stream-carousel-go-arrow align-items-center d-flex p-2" stream-carousel-go="1">
            <i class="fa fa-angle-double-right fa-5x"></i>
        </div>
    </div>
    <div class="stream-carousel-inner">

    </div>
    <div class="stream-carousel-label">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
</div>
<script src="<%-window.libURL%>assets/js/bs5.streamCarousel.js"></script>
