<main class="container page-tab dark pt-3" id="tab-subAccountManager">
    <div id="subAccountManager" class="row">
      <% Object.keys(define['Sub-Account Manager'].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
                theBlock: define['Sub-Account Manager'].blocks[blockKey],
                details: $user.details
            }) %>
        <%  }) -%>
    </div>
</main>
