<main class="page-tab" id="tab-timeline" style="position:relative;margin-right:-1.5rem;margin-left:-1.5rem;">
   <div class="dark">
       <%
       var pageName = 'Timeline';
       Object.keys(define[pageName].blocks).forEach(function(blockKey) { -%>
        <%- include('drawBlock', {
              theBlock: define[pageName].blocks[blockKey]
            }) %>
      <%  }) -%>

   </div>
   <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.timeline.css" />
   <script src="<%-window.libURL%>assets/js/bs5.timeline.js"></script>
</main>
