<form>
  <%  Object.keys(define['Super User Preferences'].blocks).forEach(function(blockKey) { -%>
    <%- include('home/drawBlock', {
          theBlock: define['Super User Preferences'].blocks[blockKey]
        }) %>
  <%  }) -%>

</form>
<script src="<%-window.libURL%>assets/js/super.preferences.js" type="text/javascript"></script>
